.root {	
	-fx-background-color: transparent;	
}
/*ANCHOR PANE CONFIGURACION */
#anchor{
	-fx-background-color: #1C5B79;	
}
#anchor_Center{
	/*-fx-background-radius:30;  #BBEAEF*/
	-fx-background-color: #C6E1EE;	
	/*-fx-background-image: url("degr.jpg");	*/
}
#anch_bo {
	-fx-background-color: white;	
	-fx-border-color: #1C5B79;
}
/*CONFIGURACION PARA LOS BOTONES */
.jfx-button:hover{
	-fx-background-color:#F5F5F5;
}
/*CONFIGURACION PARA LOS LISTVIEW */
.list-cell:hover {
	-fx-background-color: #1bd79c;	
}
.list-cell{
    -fx-cell-size: 34 ;
}
/*CONFIGURACION PARA LOS TABPANE */
.jfx-tab-pane .tab-header-area .tab-header-background {
    /*-fx-opacity: #1C5B79;*/
}
.jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-font-size: 14;
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill :#1C5B79;
}
.jfx-tab-pane .tab-selected-line{
    -fx-stroke : #1C5B79;
}